/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
li{
    list-style: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f3f3;
}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
#submenu,
.main_menu ul li#submenu,
.main_menu ul li,
.main_menu ul li a,
.single_service,
.single_service i,
.single_service a,
.modus_imgs img,
.carousel_trigger i{
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;

}
.fix_pl{
    padding-left: 0;
}
.fix_pr{
    padding-right: 0;
}
.fix{
    padding: 0;
}
a:hover { text-decoration: none }
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    color: #777777
}
/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.section_padding{
    padding: 50px 0;
}

/***********************
    Header Css Starts
************************/

.header_area{
    background: url(img/header_bg.png) repeat-x center bottom;
    background-color: #a65980;
    z-index: 99
}
.logo a{
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    line-height: 80px;
}
.logo a span{
    font-size: 25px;
    font-weight: 400;
    padding-left: 4px;
}
.main_menu {
    padding-top: 28px
}
#nav{
    text-align: right;
}
.main_menu ul li{
    display: inline-block;
    margin-left: 15px;
    position: relative

}
.main_menu ul li a{
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding: 0 16px 0 13px;
    line-height: 30px;
    border-bottom: 3px solid transparent;
    border-radius: 5px;

}
.main_menu ul li.active a{
    background: #9d557a;
    border-radius: 5px;
    border-bottom: 3px solid #854766;
}
.main_menu ul li:hover a{
    background: #26b9e1;
    border-radius: 5px;
    border-bottom: 3px solid #20a8da;
}
.main_menu ul li a i{
    font-size: 14px;
    font-weight: bold;
    margin-right: 4px;
}
#submenu{
    position: absolute;
    width: 212px;
    text-align: left;
    background: #20a8da;
    border-radius: 5px;
   margin-top: 15px;
    opacity: 0;
    visibility: hidden;
}
#submenu:after{
    content: "";
    position: absolute;
    left: 7px;
    top: -6px;
    height: 0;
    width: 0;
    border-bottom: 6px solid #20a8da;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent
}
#submenu li{
    margin: 0 10px;
    padding: 4px 0;

}
#submenu li a{
    text-transform: inherit;
    background: #26b9e1;
    border-radius: 5px
}
#submenu li a:hover{
    background: #a65980;
}
.main_menu ul li:hover #submenu {
    opacity: 1;
    visibility: visible;
    z-index: 99
}

/***********************
    Header Css Ends
************************/

/***********************
    Slider Css Starts
************************/


.slider_bg{
    background-size: contain;
    background-position: center center;
    height: 680px;
}

.slider_caption{
    color: #ffffff;
    margin-top: 160px;
}
.slider_h h1{
    font-size: 50px;
    font-weight: 800;
    background: #20a8da;
    display: inline-block;
    padding: 0 7px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.slider_p{

}
.slider_p p{
    font-size: 16px;
    background:rgba(0,0,0, .5);
    display: inline-block;
    max-width: 450px;
    margin: 0 auto;
    padding: 15px ;
    border-radius: 5px;
    margin: 0;
    color: #fff
}
.carousel-control.left {
    background-image:none;
    background-repeat: no-repeat;
}
.slider_custom_control{
    background: #20a8da;
    height:57px ;
    width: 50px;
    display: block;
    text-align: center;
    line-height: 57px;
    position: absolute;
    top: calc(50% - 30px)
}
a.left{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    font-size: 40px;
    left: 0;
}
a.right{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: 40px;
    right: 0;
}

.slider_area .carousel-indicators li {
  background-color: #b0b8b9;
  border: 0 none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 5px;
  margin: 0;
  text-indent: -999px;
  width: 60px;
    margin: 0px 3px
}

.slider_area .carousel-indicators .active {
  background-color: #20a8da;
  height: 5px;
  margin: 0;
  width: 60px;
}
.slider_area .carousel-indicators {
  bottom: -44px;
}
/***********************
    Slider Css Ends
************************/

/***********************
    Services Css Starts
************************/

.services_area{
    background: #f3f3f3;
}
.call_for_action{
    background: #ececec;
    border-radius: 10px
}
.call_for_action h2{
    font-size: 30px;
    font-weight: 600;
    color: #7f8c8c;
    padding-top: 20px;
    margin-bottom: 12px;
}
.call_for_action p{
    font-size: 13px;
    color: #777777;
    margin-bottom: 25px;
}
.call_for_action a{
    font-size: 20px;
    background: #26b9e1;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border-bottom: 4px solid #20a8da;
    padding: 0px 42px;
    line-height: 50px;
    display: inline-block;
    margin-top: 28px;
}
.all_single_services{
    padding-top: 48px;
}
.single_service{
    background: #f8f8f8;
    border-radius: 10px;
    border-bottom: 4px solid #e5e6e6;
    min-height: 310px
}
.single_service i{
    font-size: 60px;
    color: #a65980;
    margin-top: 50px;
}
.single_service h3{
    font-size: 16px;
    color: #7f8c8c;
    font-weight: 800;
    margin-top: 7px;
    margin-bottom: 26px;
}
.single_service p{
    font-size: 13px;
}
.single_service a{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    width: 200px;
    line-height: 50px;
    display: inline-block;
    border-bottom: 4px solid #a65980;
    background: #b86b99;
    border-radius: 5px;
    position: absolute;
    left: calc(50% - 100px);
    bottom: -25px
}
.single_service:hover{
    background: #fff;
}
.single_service:hover i{
    color:#20a8da;
}
.single_service:hover a{
    background: #26b9e1;
    border-radius: 5px;
    border-bottom: 4px solid #20a8da;
}

.services_area.section_padding{
    padding-bottom: 80px;
}
/***********************
    Services Css Ends
************************/


/*************************
    Why Modus Css Starts
**************************/

.why_modus_area{
    background: #f3f3f3;
    position: relative;
    overflow: hidden
}
.why_modus_area:after{
    content: "";
    position: absolute;
    background: url(img/why_modus_bg.png) repeat-x;
    left: 0;
    top: 0;
    height: 17px;
    width: 100%;
}
.why_modus_area:before{
    content: "";
    position: absolute;
    height: 400px;
    width: 100%;
    left: 0;
    top: 0;
    background: #ececec;
}
.section_title h2{
    font-size: 40px;
    color: #e1524b;
    font-weight: 600;
    padding-top: 12px;
    margin: 0;
    padding-bottom: 8px;
}
.section_tagline p{
    font-size: 13px;
}
.modus_imgs{
    padding-top: 125px;
}
.modus_imgs img:hover{
    transform: scale(1.5);
    z-index: 99
}
.why_choose_testimonial{
    margin-top: 100px;
}
.why_choose_us h3,
.quotes h3{
    margin: 0px;
    color: #7f8c8c;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 35px;
}
.why_choose_us li{
    font-size: 13px;
    color: #777777;
    line-height: 26px;
}
.why_choose_us i{
    color: #e1524b;
    padding-right: 6px;
}
.our_skills p{
    font-size: 13px;
    margin: 0;
}
.our_skills p span{
    color: #e1524b
}

.quotes blockquote{
    margin: 0;
    border: 0;
    background: #f8f8f8;
    color: #777777;
    font-size: 13px;
    font-style: italic;
    padding: 10px 12px;
    border-radius: 10px;
    line-height: 24.7px;
    position: relative;
}
.quotes blockquote:after{
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    left: 0;
    bottom: -20px;
    border-right: 25px solid #f8f8f8;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.quotes h5{
    margin-left: 65px;
    margin-top: 10px;
    color: #777777;
    font-weight: 600;
    font-size: 16px;
}
.col-md-3.single_skill{
    padding: 0;
}
.single_skilled{
     text-align: center;
}
.all_single_skills{
    margin-top: 60px;
    position: relative;

}
.single_skill h6 {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 92px;
    font-size: 14px;
    font-weight: 800;
    color: #7f8c8c;
    text-transform: uppercase;
}


.carousel_hpy_client h3{
    font-size: 16px;
    color: #7f8c8c;
    font-weight: 800;
    margin: 0;
    margin-top: 15px;
}
.carousel_trigger i{
    height: 40px;
    width: 40px;
    background: #98a3a3;
    color: #fff;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-bottom: 3px solid #7f8c8c;
    border-radius: 5px;
    cursor: pointer
}
.carousel_trigger i:hover{
    background: #20a8da;
    border-bottom: 3px solid #20a8da;
    border-radius: 5px;
}
.carousel_trigger i:first-child{
    margin-right: 10px;
}
.carousel_bar{
    height: 1px;
    background: #e1e2e2;
    margin-top: 24px;
    position: relative;
}
.carousel_bar:after{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: #e1e2e2;
    left: 0;
    top: -4px;
    border-radius: 50%
}
.clients_carousel{
    padding-top: 40px;
}

/*************************
    Why Modus Css Ends
**************************/


/*************************
    Footer Top Css Starts
**************************/


.footer_top_area{
    background:#a65980 url(img/footer_top_bg.png) repeat-x center top;
    color: #fff;
    padding-bottom: 0px;
}
.footer_address h2{
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 25px;

}
.footer_address h2 span{
    font-size: 25px;
    font-weight: 400;

}
.footer_address p{
    margin: 0;
    font-size: 13px;
    color: #fff;
    margin-bottom: 33px;
}
.footer_address ul li span{
    font-size: 13px;
    padding-right: 22px;
}
.footer_address ul li a{
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    color: #fff
}
.company_links h2,
.community_links h2{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #532c40;
    margin-bottom: 28px;

}
.company_links ul,
.community_links ul{
    padding-left: 25px;
}
.company_links ul li,
.community_links ul li{
    line-height: 23.4px;
}
.company_links ul li a,
.community_links ul li a{
    color: #fff;

}
.company_links ul li a i,
.community_links ul li a i{
    padding-right: 10px;
}
.for_blogs h2{
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 25px;
}
.for_blogs h2 span{
    font-weight: 400;
    font-style: italic;
}
.for_blogs h3{
    font-size: 13px;
    margin: 0;
    font-weight: 400;
}
.for_blogs p{
    font-size: 13px;
    margin-top: 10px;
    color: #532c40
}
.for_blogs li{
   padding-bottom: 50px;
}

/*************************
    Footer Top Css Ends
**************************/



/****************************
    Footer Bottom Css Starts
*****************************/

.footer_bottom_area{
    background: #955073;
    padding: 15px 0;
}
.footer_btm_heading h3{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #fff;
    display: block;
    margin-top: 12px;
}
.footer_social_icons li{
    display: inline-block;
    padding-left: 25px;
}
.footer_social_icons li a{
    display: block;
    color: #fff;
    font-size: 24px;
}
/****************************
    Footer Bottom Css Ends
*****************************/
